.content{
    height: 600px;
    width: 700px;
    background-color: #f0eded;
    // margin: 0 auto;
   
	text-align: center; /*让div内部文字居中*/
	border-radius: 20px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    opacity: 0.8;

}